extends layout

block content
	form(
		action=""
		method="post"
	)
		.field
			label(for="username") Create a desired username
			input#username(
				required
				name="username"
				type="text"
				placeholder="New username"
				value=username ? username : ""
			)
		.field
			label(for="password") Create a secure password
			input#password(
				required
				name="password"
				type="password"
				placeholder="New password"
			)
		.field
			input(
				type="submit"
				value="Create yourself anew"
			)
	if errors
		- console.log(errors);
		ul.errors
			each error in errors
				li.error= error.msg
	if users
		ul.users
			each user in users
				li.user= user
